{
    "target_hv": "vcenter",
    "kubernetes_cluster": {
        "cluster_hostname": "k8s-cl01",
        "cluster_ip": "172.30.16.10",
        "pod_network_cidr": "172.30.24.0/21",
        "service_network_cidr": "172.30.20.0/22",
        "kube_vip_ingress_cidr": "172.30.17.0/24",
        "schedule_pods_on_control_plane_nodes": true,
        "control_plane_node_hosts": {
            "k8s-cl01-c01": "172.30.16.11",
            "k8s-cl01-c02": "172.30.16.12",
            "k8s-cl01-c03": "172.30.16.13"
        },
        "install_portainer": true,
        "install_traefik": true,
        "control_plane_node_spec": {
            "vram_gb": 4,
            "vcpu_cores": 2,
            "disk_gb": 8 
        },
        "worker_node_hosts": {
            "k8s-cl01-w01": "172.30.16.14",
            "k8s-cl01-w02": "172.30.16.15",
            "k8s-cl01-w03": "172.30.16.16"
        },
        "worker_node_spec": {
            "vram_gb": 8,
            "vcpu_cores": 2,
            "disk_gb": 8
        }
    },
    "nfs_server": {
        "deploy_nfs": true,
        "nfs_hostname": "k8s-cl01-nfs",
        "nfs_dns_domain": "lab.internal",
        "nfs_mount_path": "/mnt/data",
        "nfs_ip": "172.30.16.5",
        "nfs_vram_gb": 4,
        "nfs_vcpu_cores": 2,
        "nfs_boot_disk_gb": 8,
        "nfs_data_disk_gb": 50
    },
    "vcenter_environment": {
        "vcenter_host": "<vcenter hostname or IP>",
        "vcenter_username": "<vcenter username>",
        "vcenter_password": "<vcenter password>",
        "vcenter_validate_certs": false,
        "vm_datacenter": "<vcenter datacenter>",
        "vm_cluster": "<vcenter cluster name>",
        "vm_datastore": "<vcenter datastore",
        "vm_folder": "<vcenter folder>",
        "vm_network_pg": "<vm network name>",
        "vm_net_interface": "eth0",
        "vm_net_type": "vmxnet3",
        "vm_disk_type": "thin",
        "nestedhv": true,
        "photon_os_media": {
            "iso_datastore": "iso",
            "iso_path": "linux/photon",
            "iso_filename": "photon-minimal-5.0-dde71ec57.x86_64.iso"
        }
    },
    "networking": {
        "use_hosts_file": true,
        "subnet_mask": "255.254.0.0",
        "default_gateway": "172.30.0.1",
        "dns_domain_name": "lab.internal",
        "dns_servers": ["172.20.10.10","172.20.10.20"]
    },
    "vm_template": {
        "template_name": "k8s-photon5",
        "root_password": "VMware123!",
        "vm_firmware": "efi-secure",
        "vm_hardware_version": 19,
        "ssh_key": "ssh-rsa <my public ssh key>",
        "trusted_root_ca": {
            "ca_cert": "PEM public certificate for root CA to be trusted by nodes - must be on one line with \n as linebreaks due to json format"
        }
    },
    "download_links": {
        "dl_containerd": "https://github.com/containerd/containerd/releases/download/v1.7.20/containerd-1.7.20-linux-amd64.tar.gz",
        "dl_containerd_service": "https://raw.githubusercontent.com/containerd/containerd/main/containerd.service",
        "dl_runc": "https://github.com/opencontainers/runc/releases/download/v1.1.13/runc.amd64",
        "dl_cni_plugins": "https://github.com/containernetworking/plugins/releases/download/v1.5.1/cni-plugins-linux-amd64-v1.5.1.tgz",
        "dl_nerdctl": "https://github.com/containerd/nerdctl/releases/download/v1.7.6/nerdctl-1.7.6-linux-amd64.tar.gz",
        "dl_calicoctl": "https://github.com/projectcalico/calico/releases/download/v3.28.1/calicoctl-linux-amd64",
        "dl_kubectl": "https://dl.k8s.io/release/v1.31.0/bin/linux/amd64/kubectl",
        "dl_kubectl_convert": "https://dl.k8s.io/release/v1.31.0/bin/linux/amd64/kubectl-convert",
        "dl_crictl": "https://github.com/kubernetes-sigs/cri-tools/releases/download/v1.31.1/crictl-v1.31.1-linux-amd64.tar.gz",
        "dl_kubeadm_kubelet": "https://dl.k8s.io/release/v1.31.0/bin/linux/amd64/{kubeadm,kubelet}",
        "dl_kubelet_service": "https://raw.githubusercontent.com/kubernetes/release/master/cmd/krel/templates/latest/kubelet/kubelet.service",
        "dl_kubeadm_config": "https://raw.githubusercontent.com/kubernetes/release/master/cmd/krel/templates/latest/kubeadm/10-kubeadm.conf",
        "csi_driver_nfs_dl": "https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts",
        "kube_vip_dl": "https://api.github.com/repos/kube-vip/kube-vip/releases/latest",
        "kube_vip_cc_dl": "https://raw.githubusercontent.com/kube-vip/kube-vip-cloud-provider/main/manifest/kube-vip-cloud-controller.yaml",
        "calico_yaml_dl": "https://raw.githubusercontent.com/projectcalico/calico/v3.28.0/manifests/calico.yaml",
        "portainer_helm": "https://portainer.github.io/k8s",
        "traefik_helm":   "https://traefik.github.io/charts"
    }
}
