---
cluster_hostname: "{{ kubernetes_cluster.cluster_hostname }}"
cluster_ip: "{{ kubernetes_cluster.cluster_ip }}"
pod_network_cidr: "{{ kubernetes_cluster.pod_network_cidr }}"
service_network_cidr: "{{ kubernetes_cluster.service_network_cidr }}"
kube_vip_ingress_cidr: "{{ kubernetes_cluster.kube_vip_ingress_cidr }}"
schedule_pods_on_control_plane_nodes: {{ kubernetes_cluster.schedule_pods_on_control_plane_nodes | lower }}
install_portainer: {{ kubernetes_cluster.install_portainer | lower }}
portainer_password: "{{ kubernetes_cluster.portainer_password }}"
install_traefik: {{ kubernetes_cluster.install_traefik | lower }}
deploy_nfs: {{ nfs_server.deploy_nfs | lower }}
nfs_server: "{{ nfs_server.nfs_hostname }}.{{ nfs_server.nfs_dns_domain }}"
vm_net_interface: "{{ vcenter_environment.vm_net_interface }}"
vm_net_type: "{{ vcenter_environment.vm_net_type }}"
vm_net_mask: "{{ networking.subnet_mask }}"
vm_net_gw: "{{ networking.default_gateway }}"
vm_disk_type: "{{ vcenter_environment.vm_disk_type }}"
vm_template: "{{ vm_template.template_name }}"
