vcenter_server                = "{{ vcenter_environment.vcenter_host}}"
vcenter_insecure_connection   = {{ (not vcenter_environment.vcenter_validate_certs) | lower }}
vcenter_user                  = "{{ vcenter_environment.vcenter_username }}"
vcenter_password              = "{{ vcenter_environment.vcenter_password }}"
vcenter_datacenter            = "{{ vcenter_environment.vm_datacenter }}"
vcenter_cluster               = "{{ vcenter_environment.vm_cluster }}"
vcenter_datastore             = "{{ vcenter_environment.vm_datastore }}"
vcenter_network               = "{{ vcenter_environment.vm_network_pg }}"
vm_folder                     = "{{ vcenter_environment.vm_folder }}"
iso_datastore                 = "{{ vcenter_environment.photon_os_media.iso_datastore }}"
iso_path                      = "{{ vcenter_environment.photon_os_media.iso_path }}"
iso_filename                  = "{{ vcenter_environment.photon_os_media.iso_filename }}"
NestedHV                      = {{ vcenter_environment.nestedhv | lower }}
root_password                 = "{{ vm_template.root_password }}"
vm_name                       = "{{ vm_template.template_name }}"
num_cpus                      = {{ kubernetes_cluster.control_plane_node_spec.vcpu_cores }}
num_cpu_cores                 = 1
num_vram_mb                   = {{ kubernetes_cluster.control_plane_node_spec.vram_gb * 1024 }}
disk_size_mb                  = {{ kubernetes_cluster.control_plane_node_spec.disk_gb * 1024 }}
disk_thin_provisioned         = {% if vcenter_environment.vm_disk_type == 'thin' %}true{% else %}false{% endif %}
firmware                      = "{{ vm_template.vm_firmware }}"
vm_hw_version                 = {{ vm_template.vm_hardware_version }}

# Access to template OS via SSH key (optional)
ssh_key                       = "{{ vm_template.ssh_key }}"

# Additional Root CA certificate to by trusted by template VMs (optional)
trusted_CA_root               = <<EOF
{{ vm_template.trusted_root_ca.ca_cert }}
EOF

# Download links for components to be installed in the template:
dl_containerd                 = "{{ download_links.dl_containerd }}"
dl_containerd_service         = "{{ download_links.dl_containerd_service }}"
dl_runc                       = "{{ download_links.dl_runc }}"
dl_cni_plugins                = "{{ download_links.dl_cni_plugins }}"
dl_nerdctl                    = "{{ download_links.dl_nerdctl }}"
dl_calicoctl                  = "{{ download_links.dl_calicoctl }}"
dl_kubectl                    = "{{ download_links.dl_kubectl }}"
dl_kubectl_convert            = "{{ download_links.dl_kubectl_convert }}"
dl_crictl                     = "{{ download_links.dl_crictl }}"
dl_kubeadm_kubelet            = "{{ download_links.dl_kubeadm_kubelet }}"
dl_kubelet_service            = "{{ download_links.dl_kubelet_service }}"
dl_kubeadm_config             = "{{ download_links.dl_kubeadm_config }}"
