---
csi_driver_nfs_dl: "{{ download_links.csi_driver_nfs_dl}}"
kube_vip_dl: "{{ download_links.kube_vip_dl }}"
kube_vip_cc_dl: "{{ download_links.kube_vip_cc_dl }}"
calico_yaml_dl: "{{ download_links.calico_yaml_dl }}"
portainer_helm: "{{ download_links.portainer_helm }}"
traefik_helm: "{{ download_links.traefik_helm }}"
