{% for key, value in kubernetes_cluster.control_plane_node_hosts.items() -%}
  {{ value }}   {{ key }} {{ key }}.{{ networking.dns_domain_name }}
{% endfor -%}
{%- for key, value in kubernetes_cluster.worker_node_hosts.items() -%}
  {{ value }}   {{ key }} {{ key }}.{{ networking.dns_domain_name }}
{% endfor -%}
{{ kubernetes_cluster.cluster_ip }}   {{ kubernetes_cluster.cluster_hostname }} {{ kubernetes_cluster.cluster_hostname}}.{{ networking.dns_domain_name }}
